<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/headerStyle.css">
    <link rel="stylesheet" href="/styles/footerStyle.css">
    <link rel="stylesheet" href="/styles/basicStyles.css">
    <link rel="stylesheet" href="/styles/placement.css">
    <link rel="stylesheet" href="/styles/chatbot.css">
    <link rel="stylesheet" href="/styles/studentDetailsStyle.css">
</head>

<body>
    <div class="onOrOff">
        <img src="/assets/images/icons8-no-connection.gif" alt="./assets/images/icons8-no-connection.gif">
        <img src="/assets/images/icons8-online.gif" alt="./assets/images/icons8-online.gif">
        <p>We are online</p>
    </div>
    <main>
        <header>
            <div class="banner">
                <div class="left">
                    <img src="/assets/images/aot-logo.webp" loading="lazy" alt="Error">
                </div>
                <div class="middle">
                    <h1>ACADEMY OF TECHNOLOGY</h1>
                    <span>...translate your vision into reality</span>
                </div>
            </div>

        </header>

        <div class="back">
            <div class="backImg">
                <img src="/assets/video/icons8-home.gif" alt="Back Icon">
            </div>
            <h1>Details</h1>
        </div>


        <form action="/studentPortal/studentlogin/studentDetails" method="post" class="container">
            <h2>Student Details</h2>
            <!-- <input type="hidden" name="formType" value="special"> -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" value="<%= encodeURIComponent(fullName) %>" name="fullName" disabled>
            </div>
            <div class="form-group">
                <label for="universityRollNo">University Roll No</label>
                <input type="number" id="universityRollNo" value="<%= encodeURIComponent(roll) %>" name="roll" disabled>
            </div>
            <div class="form-group">
                <label for="personalEmail">Personal Email</label>
                <input type="email" id="personalEmail" value="<%= encodeURIComponent(emailPersonal) %>"
                    name="emailPersonal" disabled>
            </div>
            <div class="form-group">
                <label for="collegeEmail">College Email</label>
                <input type="email" id="collegeEmail" value="<%= encodeURIComponent(emailAot) %>" name="emailAot"
                    disabled>
            </div>
            <div class="form-group">
                <label for="contact">Contact</label>
                <input type="number" id="contact" value="<%= encodeURIComponent(contact) %>" name="contact" disabled>
            </div>
            <div class="form-group">
                <label for="guardianName">Guardian Name</label>
                <input type="text" id="guardianName" value="<%= encodeURIComponent(gurdian) %>" name="gurdian" disabled>
            </div>
            <div class="form-group">
                <label for="guardianContact">Guardian Contact No</label>
                <input type="number" id="guardianContact" value="<%= encodeURIComponent(gurdianContact) %>"
                    name="gurdianContact" disabled>
            </div>
            <div class="form-group">
                <label for="localGuardianName">Local Guardian Name</label>
                <input type="text" id="localGuardianName" value="<%= encodeURIComponent(localGurdian) %>"
                    name="localGurdian" disabled>
            </div>
            <div class="form-group">
                <label for="localGuardianContact">Local Guardian Contact No</label>
                <input type="number" id="localGuardianContact" value="<%= encodeURIComponent(localGurdianContact) %>"
                    name="localGurdianContact" disabled>
            </div>
            <div class="form-group">
                <label for="permanentAddress">Permanent Address</label>
                <input type="text" id="permanentAddress" value="<%= encodeURIComponent(permanentAddress) %>"
                    name="permanentAddress" disabled>
            </div>
            <div class="form-group">
                <label for="presentAddress">Present Address</label>
                <input type="text" id="presentAddress" value="<%= encodeURIComponent(presentAddress) %>"
                    value=<%=presentAddress%> name="presentAddress"
                disabled>
            </div>
            <div class="form-group">
                <label for="class10Marks">Class 10 Marks</label>
                <input type="number" class="class10Marks" id="class10Marks"
                    value="<%= encodeURIComponent(class10Marks) %>" name="class10Marks" disabled>
            </div>
            <div class="form-group">
                <label for="class12Marks">Class 12 Marks</label>
                <input type="number" class="class12Marks" id="class12Marks"
                    value="<%= encodeURIComponent(class12Marks) %>" name="class12Marks" disabled>
            </div>
            <div class="form-group">
                <label>SGPA:</label>
                <div class="sgpa-container">
                    <div>
                        <span><label for="">1st Sem</label></span>
                        <input type="number" step="0.01" min="0" max="10" id="sgpa1" name="sgpa1" value=<%=sgpa1%>
                        placeholder="1st Sem" name="1" disabled>
                    </div>
                    <div>
                        <span><label for="">2nd Sem</label></span>
                        <input type="number" step="0.01" min="0" max="10" id="sgpa2" name="sgpa2" value=<%=sgpa2%>
                        placeholder="2nd Sem" name="2" disabled>
                    </div>
                    <div>
                        <span><label for="">3rd Sem</label></span>
                        <input type="number" step="0.01" min="0" max="10" id="sgpa3" name="sgpa3" value=<%=sgpa3%>
                        placeholder="3rd Sem" disabled>
                    </div>
                    <div>
                        <span><label for="">4th Sem</label></span>
                        <input type="number" step="0.01" min="0" max="10" id="sgpa4" name="sgpa4" value=<%=sgpa4%>
                        placeholder="4th Sem" disabled>
                    </div>
                    <div>
                        <span><label for="">5th Sem</label></span>
                        <input type="number" step="0.01" min="0" max="10" id="sgpa5" name="sgpa5" value=<%=sgpa5%>
                        placeholder="5th Sem" disabled>
                    </div>
                    <div>
                        <span><label for="">6th Sem</label></span>
                        <input type="number" step="0.01" min="0" max="10" id="sgpa6" name="sgpa6" value=<%=sgpa6%>
                        placeholder="6th Sem" disabled>
                    </div>
                    <div>
                        <span><label for="">7th Sem</label></span>
                        <input type="number" step="0.01" min="0" max="10" id="sgpa7" name="sgpa7" value=<%=sgpa7%>
                        placeholder="7th Sem" disabled>
                    </div>
                    <div>
                        <span><label for="">8th Sem</label></span>
                        <input type="number" step="0.01" min="0" max="10" id="sgpa8" name="sgpa8" value=<%=sgpa8%>
                        placeholder="8th Sem" disabled>
                    </div>
                </div>
            </div>
            <div class="editButton" value="Edit">Edit</div>
            <input type="submit" class="editButton" value="Save" style="display: none;">
        </form>


        <div class="data-container">
            <h2>Student SGPA Table</h2>

            <div class="table-container">
                <table id="studentTable">
                    <thead>
                        <tr>
                            <th>Student Roll</th>
                            <th>Student Name</th>
                            <th>SGPA Sem 1</th>
                            <th>SGPA Sem 2</th>
                            <th>SGPA Sem 3</th>
                            <th>SGPA Sem 4</th>
                            <th>SGPA Sem 5</th>
                            <th>SGPA Sem 6</th>
                            <th>SGPA Sem 7</th>
                            <th>SGPA Sem 8</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% students.forEach(student=> { %>
                            <tr>
                                <td>
                                    <%= student.roll %>
                                </td>
                                <td>
                                    <%= student.fullName %>
                                </td>
                                <td>
                                    <%= student.semMarks[0]?student.semMarks[0]:0 %>
                                </td>
                                <td>
                                    <%= student.semMarks[1]?student.semMarks[1]:0 %>
                                </td>
                                <td>
                                    <%= student.semMarks[2]?student.semMarks[2]:0 %>
                                </td>
                                <td>
                                    <%= student.semMarks[3]?student.semMarks[3]:0 %>
                                </td>
                                <td>
                                    <%= student.semMarks[4]?student.semMarks[4]:0 %>
                                </td>
                                <td>
                                    <%= student.semMarks[5]?student.semMarks[5]:0 %>
                                </td>
                                <td>
                                    <%= student.semMarks[6]?student.semMarks[6]:0 %>
                                </td>
                                <td>
                                    <%= student.semMarks[7]?student.semMarks[7]:0 %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <footer>
        <div class="footerContainer">
            <div class="footerTalk">
                <p>Follow us on</p>
            </div>
            <div class="footerSocialMediaLinks">
                <a href="https://www.facebook.com/www.aot.edu.in/" title="Visit AOT Facebook Page">
                    <img src="/assets/images/facebook_Logo.webp" alt="">
                </a>
                <a href="https://www.instagram.com/aotconnect/?igsh=MWhhcDJuY2ZqeWg1OA%3D%3D"
                    title="Visit AOT Instagram Page">
                    <img src="/assets/images/instagram_Logo.webp" alt="">
                </a>
                <a href="https://www.youtube.com/channel/UC1lroAhlIz6Reni_I2dpaHA" title="Visit AOT YouTube Page">
                    <img src="/assets/images/youtube_Logo.webp" alt="">
                </a>
                <a href="https://www.linkedin.com/school/academy-of-technology/" title="Visit AOT Linkedin Page">
                    <img src="/assets/images/linkedin_Logo.webp" alt="">
                </a>
            </div>
            <div class="footerTalk">
                <p>Copyright &copy 2024 all rights reserved</p>
            </div>
        </div>
    </footer>

    <script src="/javaScripts/studentDetails.js"></script>
    <script>
        document.querySelectorAll('input').forEach(val => {
            val.value = decodeURIComponent(val.value);
        })
        document.querySelector('input[name="fullName"]').value = decodeURIComponent('<%= encodeURIComponent(fullName) %>');
    </script>
</body>

</html>