<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminEdit</title>
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/adminEdit.css">
</head>

<body>
    <div class="container">
        <div class="personal-info">
            <h2>Personal Information</h2>
            <form id="personal-info-form" action="/studentPortal/adminLogin/adminDashboard" method="post">
                <%- include("./partials/message")-%>
                    <input type="hidden" name="formType" value="first">
                    <label for="fullName">Full Name:</label>
                    <input type="text" id="fullName" name="fullName" value="<%= encodeURIComponent(fullName) %>"
                        disabled>
                    <br>

                    <label for="email">Email Address:</label>
                    <input type="email" id="email" name="email" value="<%= encodeURIComponent(email) %>" disabled>
                    <br>
                    <label for="contact">Contact No:</label>
                    <input type="text" id="contact" name="contact" value="<%= encodeURIComponent(contact) %>" disabled>
                    <br>
                    <button type="button" id="edit-btn">Edit</button>
                    <input type="submit" id="save-btn" value="Save" style="display: none;">
            </form>
        </div>

    </div>

    <div class="data-container">
        <div class="search-section">
            <h2>Search Roll No</h2>
            <input type="text" id="search-box" placeholder="Enter Roll No">
            <button type="button" id="search-btn">Search</button>
        </div>
        <h2>Student SGPA Table</h2>

        <div class="table-container">
            <table id="studentTable">
                <thead>
                    <tr>
                        <th>Student Roll</th>
                        <th>Student Name</th>
                        <th>Department</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>


    </div>
    <script>

        document.querySelectorAll('input').forEach(val => {
            val.value = decodeURIComponent(val.value);
        })

        document.getElementById('edit-btn').addEventListener('click', function () {
            document.getElementById('fullName').disabled = false;
            document.getElementById('email').disabled = false;
            document.getElementById('contact').disabled = false;

            document.getElementById('edit-btn').style.display = 'none';
            document.getElementById('save-btn').style.display = 'inline-block';
        });

        let studentsArray = [];
        let studentObj;
        <% students.forEach((student) => { %>
            studentObj = {
                roll: '<%= student.roll %>',
                    fullName: '<%= student.fullName %>',
                        department: '<%= student.department %>',
            };

            // Push the constructed object into studentsArray
            studentsArray.push(studentObj);
            <% }) %>

            // Log studentsArray to verify the objects
            console.log(studentsArray);

        let tbody = document.querySelector('tbody');
        function renderTable(obj) {
            tbody.innerHTML = '';
            obj.forEach(student => {
                let tr = document.createElement('tr');
                let td1 = document.createElement('td');
                let td2 = document.createElement('td');
                td2.textContent = student.fullName;
                let td3 = document.createElement('td');
                td3.textContent = student.department;
                let a = document.createElement('a');
                a.href = `/studentPortal/adminlogin/adminDashboard/${student.roll}`;
                a.textContent = student.roll;
                td1.appendChild(a);
                tr.appendChild(td1);
                tr.appendChild(td2);
                tr.appendChild(td3);
                tbody.appendChild(tr);
            });
        }
        renderTable(studentsArray);

        document.getElementById('search-box').addEventListener('input', function () {
            let searchValue = document.getElementById('search-box').value;
            let searchResult = studentsArray.filter(student => student.roll.startsWith(searchValue));
            renderTable(searchResult);
        });

        document.getElementById('search-btn').addEventListener('click', function () {
            let searchValue = document.getElementById('search-box').value;
            let searchResult = studentsArray.filter(student => student.roll.startsWith(searchValue));
            renderTable(searchResult);
        });

    </script>
</body>

</html>